:root {
    /* カスタムカラー変数 */
    --text-color: #DF927D;
    --text-color-blend: #030558;
    --back-up-color: #E7FAF9;
}

* {
    /* グローバルリセットと基本フォント設定 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; /* 代替フォントを使用 */
    font-optical-sizing: auto;
}

body {
    /* 背景設定 */
    width: 100%;
    height: 100vh;
    background: url(wallpaperbetter.jpg); /* 背景画像 */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo {
    position: relative; /* ロゴ部分の固定を解除 */
    top: 2rem;
    left: 5rem;
}

.logo h1 {
    /* ロゴのテキストスタイリング */
    font-size: 27px;
    color: #fff;
}

nav {
    /* ナビゲーションバーのスタイリング */ width: 100%;
    padding: 2rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; /* 固定 */
    top: 0;
    left: 0;
    z-index: 1000; /* 他の要素より前面に表示 */ 
}

.logos {
    top: 2rem;
    left: 5rem;
}

.logos h1 {
    /* ロゴのテキストスタイリング */
    font-size: 27px;
    color: #fff;
}

ul {
    /* ナビゲーションメニューリスト */
    list-style: none;
    display: flex;
    gap: 3rem;
    margin-left: 250px;
}

li a {
    /* 各ナビゲーションリンク */
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 25px;
    padding: 10px 15px;
    transition: 0.6s;
}

li a:hover {
    /* ホバー時のリンク背景色 */
    background-color: var(--text-color);
}

.active {
    /* 現在のページのリンクの背景色 */
    background-color: var(--text-color);
}

button {
    /* ボタンのスタイリング */
    border: 2px solid var(--back-up-color);
    background: transparent;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 600;
    color: var(--back-up-color);
    cursor: pointer;
    transition: 0.65s;
}

button:hover {
    /* ボタンのホバー時の色変更 */
    background-color: var(--back-up-color);
    color: #000;
}

.flex-box {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    margin-top: 100px;
    position: fixed;/* 固定 */
    top: 100px; /* ナビゲーションバーの下に配置 */
    width: 100%; /* 幅を100%に設定 */
}

.flex-item1 {
    color: #8B4513;
    margin-right: 644px;
    background: #fff;
    font-size: 30px;
    writing-mode: vertical-rl;
}

.flex-item {
    color: #8B4513;
    margin-right: 30px;
    background: #fff;
    font-size: 30px;
    writing-mode: vertical-rl;
}

.home-content {
    /* ホームコンテンツのレイアウト */
    padding: 2rem 5rem;
    display: flex;
    align-items: center;
    height: 70vh;
}

.home-container {
    /* ホームコンテナの幅と配置 */
    align-items: center;
    width: 600px;
}

.home-container h1 {
    /* ホーム見出しのスタイル */
    color: #fff;
    font-size: 5rem;
    padding-bottom: 30px;
}

.home-container p {
    /* ホームの段落スタイル */
    color: #fff;
    padding-bottom: 20px;
}

#explore {
    /* Exploreボタンの余白 */
    margin-left: 20px;
}

